body {
}

#flexBoxConceptosDeCobroContainer {
    margin-left: 10%;
    height: 97%;
}

    #flexBoxConceptosDeCobroContainer > div {
        padding: 10px;
    }

#wrap-table {
    height: 100%;
}

    #wrap-table td {
        font-family: Lato-Regular;
        font-size: 15px;
        color: black;
        line-height: 1.4;
    }

    #wrap-table tr:nth-child(even) {
        background-color: #f8f6ff;
    }

#tableHeader {
    font-size: 10pt;
    width: 99%;
    border-collapse: collapse;
    height: 50px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
    border-color: white;
}

#divTablaConceptosDeCobro {
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    max-height: 90%;
}

#ContentPlaceHolder1_GridConceptosDeCobro {
    text-align: center;
    margin: auto;
    border-color: transparent;
}