:root {
    --div-width: 10%;
}

html, body, #form1 {
    height: 100%;
    margin: 0;
    font-size: 15px;
}

body {
    font-family: sans-serif;
}

#mainDiv {
    height: 100%;
    margin: 0;
}

.nav navbar-nav {
    height: 100%;
    margin: 0;
}

#buttonsDiv {
    float: left;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: var(--div-width);
    background-color: #474e5d;
    border-style: none solid none none;
    position: fixed;
}

.adminButton {
    text-decoration: none;
    color: white;
    border: none ;
    border-color: black;
    padding: 4px;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}

    .adminButton:hover {
        opacity: 0.8;
    }

ul.hrefList {
    list-style-type: disc;
}

    ul.hrefList li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

#divContentPlaceHolder {
    margin-left: var(--div-size);
    height: 100%;
}