body, html {
    margin: 0;
    height: 100%;
}

#divConsultas {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-left: 3%;
    height: 50%;
    margin-left: var(--div-width);
}

    #divConsultas > div {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
        background-color: #474e5d;
        border-style: solid;
        padding: 5px 5px 5px 5px;
    }

.dropDownListStartPage {
    margin: 5px 0 5px 0;
    width: 100%;
}

.textBoxConsulta {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.botonConsulta {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;

    color: #fff !important;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

    .botonConsulta:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

#ContentPlaceHolder1_botonConsultaPropietarioDePropiedad {
    margin-top: 13%;
}

#ContentPlaceHolder1_botonConsultaPropiedadDeUsuario {
    margin-top: 13%;
}

#ContentPlaceHolder1_botonConsultaUsuarioDePropiedad {
    margin-top: 13%;
}