body {
}

#flexBoxPropiedadesContainer {
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    height: 100%;
}

    #flexBoxPropiedadesContainer > div {
        margin: 10px;
    }

#wrap-table td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: black;
    line-height: 1.4;
}

#wrap-table tr:nth-child(even) {
    background-color: #f8f6ff;
}

#tableHeader {
    font-size: 10pt;
    width: 100%;
    border-collapse: collapse;
    height: 50px;

    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

#divTablaPropiedades {
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    max-height: 90%;
}

#ContentPlaceHolder1_GridPropiedades {
    text-align: center;
    margin: auto;
}


/* ############    CSS for update div     ######################### */

#divUpdatePropiedad {
    display: flex;
    flex-direction: column;
    background-color: #474e5d;
    height: 40%;
    width: 20%;
    border-style: solid;
    padding: 5px 5px 5px 5px;
    margin-top: 1%;
}

.updatePropiedad_label {
    color: white;
    margin: 5px 0 5px 0;
}

.updatePropiedad_txt {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.botonUpdate_ {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff !important;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

    .botonUpdate_:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }
